%column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

%columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

%flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
